body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 196, 0);
    margin: 0%;
}

header {
    background-color: rgb(20, 20, 20);
    color: rgb(232, 232, 232);
    text-align: center;
    padding-top: 1%;
    margin-top: -1%;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

.sec1 {

    text-align: center;
    background-color: rgb(37, 37, 37);
    margin: 4%;
    border-radius: 10px;
    color: rgb(232, 232, 232);
    padding-bottom: 3%;
    padding-top: 3%;
    padding-bottom: 4%;
}


.vdo{

width: 1280px;
height: 720px;

}


/*Sommaire*/

.som{
margin-top: 5%;
margin-bottom: 5%;
font-size: 120%;
}

.som a{
display: block;
padding: 10px;
}


.som .a{

color: rgb(251, 213, 44);
font-size: 80%;


}

.som a {

    text-decoration: underline;
    color: rgb(255, 157, 0);
    display:flex;
    justify-content: center;
    
}

/*Footer*/

footer {

    background-color: rgb(20, 20, 20);
    color: rgb(232, 232, 232);
    text-align: center;
    bottom: 0%;
    position: relative;
    font-size: 80%;
    padding: 0.5%;


}




/*Barre de Navigation*/

.menu {
    background-color: rgb(37, 37, 37);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 0;
}


.menu li a {
    text-decoration: none;
    color: rgb(232, 232, 232);
    display: block;
    padding: 50px 16px;
    font-size: 120%;
    transition: 0.5s;
}


.menu li a:hover {

    text-decoration: underline orange;

}

.menu .active {

    color: rgb(255, 196, 0);

}


.logo-menu {

    width: 8rem;

}


@media only screen and (max-width: 480px) {

    body {
        font-size: 90%;
    }

    .menu {
        flex-direction: column;
        padding: 4%;
    }

    .menu li a {
        padding: 14px;
        font-size: 150%;
    }

    .vdo{

        width: 320px;
        height: 180px;

    }




}